.main_banner{
    margin-top: 12%;
    margin-left: 10%;
    width: 80%;
    background-color: #85CCFF;
    border-radius: 30px;

    img{
        margin-left: 13%;
    }

    p{
        font-size: xx-large;
        font-weight: 600;
        margin-left: 55%;
        margin-top: -20%;
    }

}