.upload_image_view{
    width: 30%;
    padding: 18% 0%;
    margin-top: 5%;
    margin-left: 15%;
    box-shadow: 0px 12px 50px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.input-file-button{
    padding: 25px 5%;
    background-color:#180950;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 22.6%;
    font-size: xx-large;
    font-weight: 600;

    &:hover{
        background-color:#002ead;
        transition: 0.3s;
    }
  }

.image_color_value{
    margin-left: 55%;
    margin-top: -31%;
    font-size: xxx-large;

    #palette_list{
        display: inline-flex;
        
    }
}